form {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;

  /* This bit draws the box around it */
  border:1px solid grey;

  /* I've used padding so you can see the edges of the elements. */
  padding:2px;
}

input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

button {
  /* Just a little styling to make it pretty */
  border:1px solid blue;
  background:blue;
  color:white;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.option-box {
  border: 1px solid #000000;
  margin: 5px 0 0;
}

.option-box > .option-box__container:not(:last-child) {
  padding: 5px;
  border-bottom: 1px solid #AAAAAA85;
}

.option-box__container {
  padding: 5px;
}

.option-box__container:hover {
 background-color: #0000FF20;
}

.option-box__container_choosen {
  background-color: #0000FF20;
}

.option-box__text {
  margin: 0;
}
